.player {
    float: left;
    width: 300px;

}

.form-group {
    float: left;
    padding: 20px;
}

.select {
    padding: 20px;
}

#search-btn {
    position: absolute;
    margin-left: 80px;
    top: 20px;
}